version = "1.0"

[main]
services = []

    [main.state]
    name = ""
    visible = "false"

        [main.state.state]
        type = "string"

        [main.state.last_run]
        type = "string"

    [main.general]
        [main.general.info]
        ask = """\
        Backup state : {{state}}
        Last run: {{last_run}}
        """
        type = "alert"
        style = "info"

        [main.general.repository]
        ask.en = "Repository"
        type = "string"
        help = "Specify a local repository (`/mount/my_external_harddrive/backups`) or a remote repository (`ssh://USER@DOMAIN.TLD:PORT/~/backup`). If you plan to use a remote borgserver_ynh app : `USER` is *not* meant to be an existing user on the guest server, instead, it will be created *on the host server* during the installation of the Borg Server App. With borgserver_ynh apps you can't specify another repo path than `~/backup`."
        
        [main.general.ssh_public_key]
        ask.en = "Public key: {ssh_public_key}"
        type = "markdown"
        bind = "/root/.ssh/id___APP___ed25519.pub"

        [main.general.on_calendar]
        ask.en = "When and at which frequency should the backups be performed?"
        ask.fr = "Quand et à quelle fréquence les sauvegardes doivent-elles être effectuées ?"
        type = "string"
        help = "For example: `Monthly`, `Weekly`, `Daily` (=every day at midnight), `Hourly`, `Sat *-*-1..7 18:00:00` (=the first saturday of every month at 18:00), `4:00` (=every day at 4 AM), `5,17:00` (=every day at 5 AM and 5 PM). See the [systemd OnCalendar format for full syntax doc](https://wiki.archlinux.org/index.php/Systemd/Timers#Realtime_timer)"
        bind = "OnCalendar:/etc/systemd/system/__APP__.timer"
        
        [main.general.mailalert]
        ask.en = "Mail alert"
        type = "select"
        choices.always = "Always"
        choices.errors_only = "Only if an error occured"
        choices.never = "Never alert me"
        help = "Alerts are sent to the first user of this server"

        [main.general.healthcheck_url]
        ask.en = "Healthcheck URL"
        type = "url"
        help = "Use a healthcheck to detect silent failures. It's optional, if you don't know what it is, just leave it blank or look it up: https://healthchecks.io"
        optional = "true"
        
    [main.content]
    name = "What should be backed up?"
    optional = false

        [main.content.conf]
        ask.en = "Configuration"
        type = "boolean"

        [main.content.data]
        ask.en = "Data"
        type = "boolean"

        [main.content.data_multimedia]
        ask.en = "Data multimedia"
        type = "boolean"

        [main.content.apps]
        ask.en = "Apps"
        type = "tags"
        help = "App list separated by comma. You can write 'all' to select all apps, even those installed after this borg app. You can also select all apps but some apps by writing 'exclude:' following by an app list separated by comma."

[list]
name = "Last backups list"
services = []
    [list.list]
    name = ""
        [list.list.last_backups]
        ask.en = ""
        type = "markdown"
