[Unit]
Description=Run backup __APP__
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup-with-__APP__ __APP__
User=__APP__
Group=__APP__

#[Install]
#WantedBy=multi-user.target
