[Unit]
Description=Run backup __APP__
After=network.target

[Service]
Type=oneshot
User=__APP__
Group=__APP__
Environment=PATH=__PATH_WITH_BORG__
ExecStart=/usr/bin/sudo __INSTALL_DIR__/backup-with-borg __APP__

#[Install]
#WantedBy=multi-user.target
